body {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    background: #fff;
}

input[type=range] {
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* Chromium */
    height: 100px;
    width: 10px;
    float:right;
}

input[type=text] {
    width: 25px;
}

#border-box {
    border: 1px solid rgb(211, 211, 211) !important;
    display:inline;
    float:left;
    padding: 5px;
    margin: 5px;
}

#full-width {
    border: 1px solid #000 !important;
    display:inline;
    float:left;
    padding: 20px;
    margin: 5px;
}

#full-width-r {
    border: 1px solid #000 !important;
    display:inline;
    float:right;
    padding: 20px;
    margin: 5px;
}

#container-r {
    display:inline;
    max-width: 750px;
    float:right;
}

#record-button {
    font-size: 200px;
}

#chord-text {
    font-size: 25px;
    margin-left: 10px;
    margin-top: -10px;
    margin-bottom: -20px;
}

#chord-text-2 {
    font-size: 25px;
    margin-left: 0px;
    margin-top: -10px;
    margin-bottom: -20px;
}

#div1 {
    float:right;
    margin-right: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.clear{
    clear:both;
}

.clear-r{
    clear:initial;
}